.graph {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  width: 10rem;
  height: 4rem;
  margin: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
